.header {
  padding: 20px 0;
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .logo {
  height: 55px;
  object-fit: contain;
}

.main-menu {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  margin-bottom: 0;
  list-style: none;
}

.main-menu li a {
  color: #313131;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.main-menu li:last-child a {
  background: linear-gradient(#388AF7, #2B5C99);
  padding: 16px 24px;
  border-radius: 8px;
  color: white
}

@media screen and (max-width: 360px) {

  .header {
    background-color: green;
  }

  .header-content {
    flex-wrap: wrap;
  }

  .main-menu {
    flex-wrap: wrap;
  }

}
 
@media screen and (min-width: 361px) and (max-width: 768px) {

  .header {
    background-color: red;
  }

}

@media screen and (min-width: 1024px) {

  .header {
    background-color: yellow;
  }

}