.jumbo {
  padding: 70px 0;
  background-color: white;
}

.jumbo-content {
  display: flex;
  align-items: center;
}

.jumbo-content-img, .jumbo-content-text {
  flex-basis: 50%;
}

.jumbo-content-img img {
  width: 100%;
}

.jumbo-content-text ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 48px;
}

.jumbo-content-text ul li a {
  color: #31B7BD;
  text-decoration: none;
  font-weight: 600;
  padding: 24px 36px;
  display: inline-block;
}

.jumbo-content-text ul li:first-child a {
  background-color: #B5E5E7;
  border-radius: 8px;
}

@media screen and (max-width: 360px) {

  .jumbo-content {
    flex-wrap: wrap;
    text-align: center;
  }

  .jumbo-content-img, .jumbo-content-text {
    flex-basis: 100%;
  }

  .jumbo-content-text ul {
    flex-wrap: wrap;
    justify-content: center;
  }

}