.section {
  padding: 80px 0;
}

.section-blu-light {
  background-color: #D4E3F3;
}

.section-white {
  background-color: #fff;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

@media screen and (max-width: 360px) {
  
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

}